* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --main-background:#312e81;
    --text-color:#60a5fa;
    --nav-background:#2e1065;
}

body {
    background: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav {
    background: var(--nav-background);
    width: fit-content;
    padding: 16px;
    border-radius: 20px;
}

ul,li {
    list-style: none;
}